/* Global Reset */
@import url("./reset.css");

 /* Navbar */
@import url(../components/navbar.css);


/* Variables */
@import url(./vars.css);

@import url(./common.css);

/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Poppins:wght@300;500&display=swap');

@import url(../components/footer.css);