main {
    /* background-color: white ; */
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    overflow: scroll;
}

.cardlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
}
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagen_producto {
    height: 9em;
    width: 9em;
    padding: 10px;
    padding-bottom: 20px;
}

.descripcion button {
    background-color: var(--color5);
    border: 0;
    border-radius: 15px;
    padding:5px;
    font-size: 0.8em;
    font-weight: bold;
}

.descripcion_producto {
    font-size: 0.8em;
}