main {
    padding-top: 110px;
    padding-bottom: 50px;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    }

.cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 30px;
    justify-content: center;
    height: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; */
    padding: 15px;
}

.descripcion {
    font-family: var(--fuente2);
    color: black;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio{
    color: var(--color1);
    font-weight: 500;
}
.descripcion h3 {
    font-family: var(--fuente2);
    font-weight: bold;
    color: black;
}


.image_container {
    display: flex;
    height: 9em;
    width: 9em;
    overflow: hidden;
    justify-content: center;
}
.imagen_producto {
    height: 100%;
    padding: 10px;
    padding-bottom: 20px;
    
}

.descripcion button {
    background-color: var(--color5);
    border: 0;
    border-radius: 15px;
    padding:5px;
    font-size: 0.8em;
    font-weight: bold;
}

.descripcion_producto {
    font-size: 0.8em;
    padding: 5px 0px;
}

.descripcion_producto li {
    padding: 2px;
}
.image_container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color5);
    
}
.imagen_landing {
    width: 100%;
    
}    
@media (max-width: 972px){
    }
    .image_container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .imagen_landing {
        width: 100%;
        
    }    


    @media (min-width: 972px){
    .image_container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color5);
        
    }
    .imagen_landing {
        width: 1000px;
        
        
    }    
    .catalogo{
        padding-left: 150px;
        padding-right: 150px;
    }
    nav.navigation{
        transition: all 3s;
        display: flex;
        gap: 20px
      }
      nav.navigation a{
        color: var(--color5);
        font-family: var(--fuente2);
        font-weight: bold;
      }
      nav.navigation a:hover{
        color: var(--color3);
      }
      #burger{
        display: none;
      }
      #back, #back2 {
        display: none;
      }
      .description{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .carousel{
        padding-top: 50px;
      }
      .caracteristicas {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        gap: 50px;
        justify-content: center;
               

      }
      h1 {
        padding: 20px 0;
      }
      h2 {
        padding: 5px 0px;
      }
      .pvp {
        padding: 10px 0;
      }
      .cardlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, 160px);
        gap: 30px;
        justify-content: center;
      }
      #cartindex{
        padding-right: 25px;
      }
      }

    
  