main {
    padding-top: 110px;
    padding-bottom: 50px;
}

.card {
    display:flex;
    flex-direction: column; 
}

.cardlist {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.descripcion h3 {
    font-family: var(--fuente2);
    font-weight: bold;
}

.image_container {
    display: flex;
    height: 9em;
    width: 9em;
    overflow: hidden;
    justify-content: center;
}
.imagen_producto {
    height: 100%;
    padding: 10px;
    padding-bottom: 20px;
    
}

.descripcion button {
    background-color: var(--color5);
    border: 0;
    border-radius: 15px;
    padding:5px;
    font-size: 0.8em;
    font-weight: bold;
}

.descripcion_producto {
    font-size: 0.8em;
    padding: 5px 0px;
}

.descripcion_producto li {
    padding: 2px;
}
.image_container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color5);
    
}
.imagen_landing {
    width: 100%;
    
}    
@media (min-width: 850px){
    }
    .image_container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .imagen_landing {
        width: 100%;
        
    }    


  @media (min-width: 1000px){
    .image_container2 {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color5);
        
    }
    .imagen_landing {
        width: 1000px;
        
        
    }    
    .catalogo{
        padding-left: 150px;
        padding-right: 150px;
    }
  }