
.checkout_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 130px;
    bottom: 50px;
    
}

.checkout_item{
display: flex;
width: 100vw;
padding: 15px 30px;
justify-content: center;
align-items: center;
gap: 100px;
}

.cellphone_item {
    width: 130px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

}

.checkout_item_image {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.checkout_item_image img {
    height: 100%;
    
}

.checkout_quantity{
display: flex;
align-items: center;
height: 50px;
width: 150px;
justify-content:space-between;
gap:5px;
padding: 10px 35px;


}
.checkout_quantity input{
width: 30px;

}
.quantity_number {
    padding: 5px;
    border-left: solid #888 2px;
    border-right: solid #888 2px;
}

.total {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap:10px;
}

#total_price {
    display: flex;
    flex-direction: row-reverse;
    width: 70px;
}
p{
    color: black;
    font-family: var(--fuente2);
    font-weight: bold;
}