.checkout_item{
display: flex;
width: 100vw;
padding: 30px;
justify-content: space-between;
align-items: center;
}

.cellphone_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

}

.checkout_item_image {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.checkout_item_image img {
    height: 100%;
    
}

.checkout_quantity{
display: flex;
align-items: center;
height: 50px;
width: 150px;
justify-content:space-between;
gap:5px;
padding: 10px 35px;


}
.checkout_quantity input{
width: 30px;

}
.quantity_number {
    padding: 5px;
    border-left: solid #888 2px;
    border-right: solid #888 2px;
}