.foot{
    background-color: #16272f;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;


   }
.checkout {
    background-color: #e2c044;
    /*position: absolute;*/
    right: 100px;
    border-radius: 10px;
    bottom: 40px;
    height: 30px;
    width: 120px;
    
    
    
     
}