.foot{
    background-color: #16272f;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  
   }

 .creditcards {
 width: 100px;

 }  


 .creditcards img {

    width: 100px;
 }
.checkout {
    background-color: #e2c044;
    /*position: absolute;*/
    right: 100px;
    border-radius: 10px;
    bottom: 40px;
    height: 30px;
    width: 120px;
     
}
.socialmedia{
    display: flex;
    
}