.foot{
    background-color: #16272f;
    height: 70px;
    display: flex;
    position: relative;

   }
.checkout {
    background-color: #e2c044;
    position: absolute;
    right: 100px;
    border-radius: 10px;
    bottom: 20px;
    height: 30px;
    width: 120px;
    
    
    
     
}