/* .navbar {
    background-color: #;
} */

.logo_nav {
    display: flex;
    justify-content: center;
}
#logo  {
    height:200px;
   
   
}

#searchbar {
    width: 300px;
    margin: 15px;
    
}
.nav_buttons ul{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

