.nav_header{
  background-color: var(--color1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.navigation{
  display: none;
}

nav.navigation.active{
  display: flex;
  position:absolute;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color5);
}
nav.navigation.active a{
  padding: 20px;
  color: black;
  font-size: 20px;
}

.menu{
  color: white;
  
}

nav.navigation.active{
  display: flex;
}

.close{
  display: none;
}
.logo img {
  height: 70px;
  mix-blend-mode: lighten ;
}

.logo {
 
  justify-content: center;
  overflow: hidden;
  display: flex;
}
