.nav_header{
  background-color: var(--color1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
}
nav.navigation{
  display: none;
  
}

nav.navigation.active{
  animation: aparece 0.5s;
  display: flex;
  position:absolute;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  right: 0;
  top: 108px;
  width: 145px;
  height: 311px;
  border: solid 1px var(--color1);
  background-color: var(--color1);
  font-family: var(--fuente2);
  border-radius: 0 0 11px 11px;

}


nav.navigation.active a{
  animation: aparece1 0.7s;
  padding: 20px;
  color: var(--color5);
  font-size: 17px;
}

@keyframes aparece {
  0% {
    opacity: 0.9;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 311px; 
  }
}

@keyframes aparece1 {
  0% {
    /* visibility: hidden; */
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    /* visibility: visible; */
    opacity: 1;
  }
}

.menu{
  color: var(--color5);
  font-size: 30px;
}

nav.navigation.active{
  display: flex;
}

.close{
  display: none;
}
.logo img {
  height: 70px;
  mix-blend-mode: lighten ;
}

.logo {
 
  justify-content: center;
  overflow: hidden;
  display: flex;
}

.toggleBox{
  display: flex;
  color: var(--color5);
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}


@media (min-width: 1000px){
  nav.navigation{
    display: flex;
    gap: 20px
  }
  nav.navigation a{
    color: var(--color5);
    font-family: var(--fuente2);
    font-weight: bold;
  }
  nav.navigation a:hover{
    transition: all 0.3s;
    color: var(--color3);
  }
  .fa-bars{
    display: none;
  }
}