main {
    padding-top: 110px;
    padding-bottom: 50px;
    background-color: var(--color4);
}

.bigImage{
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.bigImage img{
    height: 300px;
    padding-top: 20px;
}

.gallery{
    display: flex;
    height: 100px;
    justify-content: space-around;
}
.description{
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    font-family: var(--fuente2);
    padding-top: 20px;
    font-weight: bolder;
    font-size: 25px;
}
.brand{
    font-family: var(--fuente2);
    color: var(--color5);
    padding-top: 2px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}
.pvp{
    color: black;
    font-family: var(--fuente2);
    padding-top: 3px;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 15px;
}
.about{
    color: black;
    font-family: var(--fuente2);
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 20px;
    text-transform: capitalize;
}
.caracteristicas{
    color: black;
    list-style-type:disc;
    list-style-position: inside;
    font-family: var(--fuente2);
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: lighter;
    font-size: 15px;
    line-height: 25px;
}

button.buy {
    background-color: var(--color5);
    font-family: var(--fuente2);
    font-weight: bold;
    right: 100px;
    border-radius: 10px;
    bottom: 40px;
    height: 30px;
    width: 120px;
    border: 0;
}
.buybutton{
    display: flex;
    justify-content: center;
}

#back{
    background-color: var(--color1);
    border-radius: 0px 0px 5px 0px;
    position: sticky;
    top: 15px;
    font-size: 20px;
    color: var(--color5);
    padding-top: 20px;
}
/* carousel */
.carousel {
    max-width: 400px;
    margin: 0 ;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
}
#imagen img{
    width: 200px;
    height: 200px;
}
#imagen {
    width: 300px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
}
#retroceder, #avanzar {
    font-size: 25px;
    /* background-color: var(--color4); */
    color: var(--color1);
    border: 0;
}

