.description_product{
    padding: 10px;
}

.bigImage{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.bigImage img{
    height: 300px;
}

.gallery{
    display: flex;
    height: 100px;
    justify-content: space-around;
}

.caracteristicas {

}